@use "sass:list";
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
}

.inner-container {
  background: $background-color;
  color: $background-label;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include from-resolution($screen-sm) {
    flex-direction: row;
  }
}

.content {
  flex: 1;
  margin-top: 50px;
  padding: 8px 8px;
  @include from-resolution($tablet) {
    padding: 8px 16px;
  }
  @include from-resolution($screen-sm) {
    padding: 32px 32px;
    margin-top: 0;
  }
}
